

body{
    background-color :#f0f0f0;

}

h1 {
    border-inline-start-style: double ;
    border-inline-end-style: double ;
    background-color : #7c93a8;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

div{
    text-align: center;
}


#mainphoto{
    margin-bottom: 50px;
    margin-top: 10px;
}



h2 {
    color: #61788c;
    font-size: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

#dancelogo{
    width: 250px;
    border-radius: 500px;
    border: double #576d7e;
}




h3{
    text-align: center;
    color: #576d7e;
    font-size: 20px;
    
}

h5{
    color: #929fb0;
    font-size: 15px;
}








.grid-container {
	display: grid;
	grid-template-columns: auto 250px auto;
    grid-gap: 10px;
}

.grid-container > div{
    
}

#header{
	grid-column: 1 / span 3;
	
}

#main1{
	grid-column:1 / span 1;
}

#main2{
	grid-column:2 / span 1;
	text-align: center;
}

#right{
	grid-column:3 / span 1;
	text-align: center;

}

#footer{
	grid-column:1 / span 3;
	text-align: center;
}


@media only screen and (max-width: 768px) {
	.grid-container {
		grid-template-columns: 30% auto;
 
	}

	#header{
		grid-column: 1 / span 2;
	}

	#main1{
		grid-column: 1 / span 1;
		text-align: left;
	}

	#main2{
		grid-column: 2 / span 1;
		text-align: center;
	}

	#right{
		grid-column:1 / span 2;
		text-align: center;
	}

	#footer{
		grid-column: 1 / span 2;
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	.grid-container {
		grid-template-columns: auto;	   
	}

	#header{
		grid-column: 1 / span 1;
		
	}
	
	#main1{
		grid-column:1 / span 1;
	}
	
	#main2{
		grid-column:1 / span 1;
		text-align: center;
	}
	
	#right{
		grid-column:1 / span 1;
		text-align: center;
	
	}
	
	#footer{
		grid-column:1 / span 1;
		text-align: center;
	}



}





.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





#dance1 {
    width: 45%;
    border-radius: 50px;
    border: 3px double #607e92;
}



#kdc{
    width : 700px;
    text-align: center;
    border: 6px double #38576c;
    margin-bottom: 10px;

}



h4 {
    text-align: center;
    color: #ffffff;
    background-color : #929fb0;
    font-size: 50px;
    font-family : Georgia, 'Times New Roman', Times, serif; 
    border-inline-start-style: double ;
    border-inline-end-style: double ;
 
}








h6{
	text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-family : Georgia, 'Times New Roman', Times, serif; 
}



a:link, a:visited  {
	font-size : 15px;
	font-family: Georgia, 'Times New Roman', Times, serif; 
	background-color: #7190a6;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  
  a:hover, a:active {
	background-color: #627f93;
  }