

body{
    background-color :#f0f0f0;

}

div{
    text-align: center;
}


#mainphoto{
    
    
    margin-bottom: 50px;
    margin-top: 10px;
}


h1 {
    border-inline-start-style: double ;
    border-inline-end-style: double ;
    background-color : #7c93a8;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: right;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
   
}

h2 {
    color: #61788c;
    font-size: 70px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

#allpic {
    text-align: center;
    
}




h3{
    
    color: #576d7e;
    font-size: 30px;
    
}

h5{
    color: #818d9e;
    font-size: 25px;
}


p{
    color: #576d7e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
}








.grid-container {
	display: grid;
	grid-template-columns: auto 300px auto;
    grid-gap: 10px;
}

.grid-container > div{
    
}

#header{
	grid-column: 1 / span 3;
	
}

#main1{
	grid-column:1 / span 1;
}

#main2{
	grid-column:2 / span 1;
	text-align: center;
}

#right{
	grid-column:3 / span 1;
	text-align: center;

}

#footer{
	grid-column:1 / span 3;
	text-align: center;
}


@media only screen and (max-width: 768px) {
	.grid-container {
		grid-template-columns: 30% auto;
 
	}

	#header{
		grid-column: 1 / span 2;
	}

	#main1{
		grid-column: 1 / span 1;
		text-align: left;
	}

	#main2{
		grid-column: 2 / span 1;
		text-align: center;
	}

	#right{
		grid-column:1 / span 2;
		text-align: center;
	}

	#footer{
		grid-column: 1 / span 2;
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	.grid-container {
		grid-template-columns: auto;	   
	}

	#header{
		grid-column: 1 / span 1;
		
	}
	
	#main1{
		grid-column:1 / span 1;
	}
	
	#main2{
		grid-column:1 / span 1;
		text-align: center;
	}
	
	#right{
		grid-column:1 / span 1;
		text-align: center;
	
	}
	
	#footer{
		grid-column:1 / span 1;
		text-align: center;
	}



}







h4 {
    text-align: center;
    color: #ffffff;
    background-color : #929fb0;
    font-size: 50px;
    font-family : Georgia, 'Times New Roman', Times, serif; 
    border-inline-start-style: double ;
    border-inline-end-style: double ;
 
}





h6 {
	text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-family : Georgia, 'Times New Roman', Times, serif; 

}



a:link, a:visited {
	font-size : 15px;
	font-family: Georgia, 'Times New Roman', Times, serif; 
	background-color: #7190a6;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  
  a:hover, a:active {
	background-color: #627f93;
  }